#main
{
position:relative;
top:49;
}
#title1
{
z-index:10;
margin:0px;
position:fixed;
left:0;
top:0;
font: 18px lato;
color: rgb(25,176,180);
background-color:black;
}
#sitename
{
font: bold 25px Lucida-Console, Monospace;
}
#sitename a
{
color: rgb(25,176,180);
}
#sitename a:hover
{
text-decoration:none;
}
.titlelink
{
display:block;
}
#sitep2
{
color:white;
}
.titlelink>a
{
color:white;
text-decoration:none;
}
.titlelink>a:hover
{
color: rgb(25,176,180);
text-decoration:none;
}
#userbuttons
{
left:6%;
}
#loginbutton
{
color:black;
background-color:rgb(25,176,180);
}
#signupbutton
{
color:black;
background-color:orange;
}
#title2
{
font: bold 30px Microsoft-YaHei;
color:black;
background-color:rgb(25,176,180);
margin-bottom:0px;
}
#smallscreenbuttons
{
left:4%;
}
@media only screen and (max-width: 768px)
{
.titlelink,#userbuttons
{
display:none;
}
#smallscreenbuttons
{
 display:block;
}
}
@media only screen and (min-width: 768px)
{
.titlelink,#userbuttons
{
display:block;
}
#smallscreenbuttons,#linkdropdown,#profiledropdown
{
 display:none;
}
}
#linkdropdown,#profiledropdown {
  display: none;
  position: fixed;
  right:0;
  top:49px;
  background-color: black;
  width:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 11;
}
#linkdropdown a,#profiledropdown a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#profiledropdown>a:hover,#linkdropdown>a:hover
 {color: rgb(25,176,180); text-decoration:none;}
#imagehere
{
background-image: url('../images/index.jpg');
background-size:cover;
}
.introbox
{
background-color:0099CC;
font: bold 25px Microsoft-YaHei;
}
